* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inine-block;
    list-style-type: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-size: large;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}

nav2 {
    flex: 1;
    text-align: right;
}

nav2 ul {
    display: inine-block;
    list-style-type: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
}

nav2 ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

header {
    background: thistle;
    background-color: url(https://i.postimg.cc/PxjgHLzY/n.jpg);
}

p1 {
    text-align: left;
    font-size: x-large;
    font-weight: 500;
    margin-left: 370px;
}

.container {
    max-width: 1300px;
    margin: auto;
    height: 100;
    padding-left: 25px;
    padding-right: 25px;
}

.container1 {
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 230px;
    padding-left: 25px;
    padding-right: 25px;
}

.col-md-7 h2 {
    color: #555;
}

.price {
    color: #FE980F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.add-cart {
    background: #FE980F;
    color: #ffffff;
    font-size: 15px;
    margin-left: 20px;
}

header {
    background-color: url(https://i.postimg.cc/PxjgHLzY/n.jpg);
}


/*Dropdown*/

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media all and (min-width:991px) {
    .dropdown:after {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .15s ease-in-out;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, .7);
        pointer-events: none;
    }
    .dropdown.show .nav-link {
        position: relative;
        z-index: 20;
    }
    .dropdown.show:after {
        z-index: 20;
        opacity: 1;
        visibility: visible;
        position: fixed;
    }
}


/*landing-image & Carousel CSS*/

.image {
    background-size: cover;
    background-image: url("images/back3.jpg");
    /* background-position: bottom; */
    position: relative;
    width: 100%;
    height: 650px;
    /*-webkit-transform:reflect(180deg);
    -moz-transform:reflect(180deg);
    background-repeat:no-repeat;
    background-position:center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);*/
}

.image-text h1 {
    padding-left: 40%;
    padding-top: 5%;
    bottom: 50%;
    font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    font-style: bold;
    color: #ffffff;
    text-align: center;
    line-height: 1.8;
}

.card-carousel-container {
    position: absolute;
    width: 900px;
    height: 400px;
    top: 60%;
    left: 20%;
}

.card {
    height: 360px;
}


/*Footer CSS*/

.footer {
    padding-left: 600px;
    float: left;
    width: 100%;
    padding: 60px 0 5px;
    padding-top: 70px;
    padding-bottom: 20px;
    background: thistle;
    color: black;
}

.footer .row .footer-col-1 h3 {
    padding-left: 175px;
    position: relative;
}

.footer .row .footer-col-1 p {
    position: relative;
    left: 180px;
}

.footer .row .footer-col-6 img {
    position: relative;
    left: 120px;
    bottom: 12px;
}

.footer .row .footer-col-6 p {
    position: relative;
    left: 120px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.footer-col-7 h5 {
    position: relative;
    left: 100px;
}

.footer-col-7 ul {
    position: relative;
    left: 100px;
}

.footer-col-10 h5 {
    position: relative;
    left: 200px;
}

.footer-col-10 ul {
    position: relative;
    left: 200px;
}

.footer-col-12 h5 {
    position: relative;
    left: 300px;
}

.footer-col-12 ul {
    position: relative;
    left: 300px;
}